body{
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 90%;
    margin: auto;
    overflow-x: auto;/*para que os cards fazem a rolagem lateralmente*/
    scroll-snap-type: x mandatory;/*para que os cards fazem a rolagem naturalmente, "grudando" nas posições corretas*/
    display: flex;
    justify-content: flex-start;/*começarem o carroussel da esquerda para a direita*/
    padding: 20px 0;
    position: relative;
}
#cards-geral{
    display: flex;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    overflow-x: auto;
}
.cards{
    flex: 0 0 300px;
    padding: 10px;
    scroll-snap-align: start;
    text-align: left;
}
.cards:hover{
    transform: scale(1.05); /*Aumeta o tamanho em 5%*/
    border: 1px solid;
    transition: all 0.4s ease-in-out; /*fazer uma animação suave*/
}
figure{
    margin: 0;
    padding: 0;
}
img{
    width: 100%; /*ocupe todo o espaço do card*/
    height: auto;/*mantem a proporção da imagem*/
    border-radius: 5px;
}
figcaption{
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    padding-left: 5px;
}
p{
    color:#828181;
    font-size:13px;
    margin-top: 10px;
    padding-left: 5;

}
/*Botoes*/
.arrow{
    position: absolute;
    top:43%;
    transform:  translateY(-50%);/*Corrige a posição do botao deslocando-o para cima metade da própria altura, garantindo que fique exatamente centralizado verticalmente.*/
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 30px;
    width: 58px;
    z-index: 10; /*garante que os botoes fiquem acima de outros elementos na tela*/
    transition: opacity 0.3 ease-in-out, background 0.3s ease-in-out;/*Adiciona um efeito de transição suave ao mudar a cor do fundo ao passar o mouse.*/
    opacity: 0; /*esconda os botoes*/
    pointer-events: none; /*impede inteção quando visivel*/
}
/*passando o mouse por cima, os botoes aparecem*/
.container:hover .arrow, /* quando o usuário passa o mouse (hover) sobre o .container, a classe .arrow dentro será afetada*/
.arrow:hover{/*e quando o usuário passar o mouse diretamente sobre o .arrow, ele também será afetado.*/
    opacity: 1;/*torna os botoes visiveis*/
    pointer-events: auto;/*habilita a interação*/
    transition: all 0.6s ease-in-out; /*fazer uma animação suave*/
            /*all - aplica a transição a todas as propriedades animáveis.*/           /*ease-in-out - o movimento começa devagar, acelera no meio e desacelera no final.*/
}
.arrow:hover{
    background-color: rgb(242, 242, 242);
    outline: none; 
}
#left{
    left: 10px; /*fica a 10 pixels da borda*/
}
#right{
    right: 10px;/*fica a 10 pixels da borda*/
}
/*CSS puro para deiar a rolagem mais suave*/
#cards-geral{
    scroll-behavior: smooth;/*Ativa o efeito de rolagem suave no #cards-geral. Quando os botões são clicados, a rolagem será animada, em vez de ocorrer instantaneamente*/
}